*{
    margin: 0;
    box-sizing: border-box;
}
/* div{
    height: 500px;
    width: 500px;
    width: 50%;
    background-color: aqua;
} */
/* section{
    height: 500px;
    width: 900px;
    background-color: blue;
}
footer{
    height: 50%;
    width: 30%;
    background-color: brown;
} */
/* div{
    border: 15px solid yellow;
    height: 70vh;
    width: 100vw;
} */
/* article{
    font-size: 30px;
}
aside{
    font-size: 2em;
} */
/* nav{
    height: 500px;
    width: 600px;
    background-color: brown;
    font-size: 5em;
} */
html{
    font-size:20px;
}
p{
    font-size:3rem ;
}